<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form post="/user">
    <div class="form-group">
    <label>Username
    <input type="text" class="form-control">
    </label>
    </div>
    <div class="form-group">
    <label>Email
        <input type="email" name="userEmail" class="form-control">
    </label>
    </div>
    <div class="form-group">
    <label>Password
        <input type="password" class="form-control">
    </label>
    </div>
    <div class="form-group">
        <input type="submit" value="Submit" class="btn btn-success">
    </div>
</form>

</body>
</html>